.post-list-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    text-align: start;
    justify-content: start;
    border-bottom: 1px solid var(--border);
    padding: 16px 20px;
    cursor: pointer;
}

.post-list-item.has-thread {
    border-bottom: none;
}

.post-item-img-wrapper {
    position: relative;
    flex-shrink: 0;
    align-self: stretch;
}

.has-thread .post-item-img-wrapper::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    top: 50px;
    bottom: -16px;
    background-color: var(--border);
}

.son-has-thread .post-item-img-wrapper::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -16px;
    bottom: 75px;
    width: 2px;
    background-color: var(--border);
}

.post-item-img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    z-index: 100;
    position: relative;
}

.post-item-header{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.post-item-top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.more-btn{
    background-color: transparent;
}

.more-btn img{
    width: 20px;
    filter: var(--filter-black-img);
}

.post-item-content {
    width: 100%;
    padding-left: 10px;
}


.more-menu-wrapper {
    position: relative;
}

.more-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    min-width: 120px;
    z-index: 10;
    overflow: hidden;
}

.more-menu button {
    background: transparent;
    border: none;
    padding: 10px 16px;
    text-align: start;
    cursor: pointer;
    width: 100%;
}

.more-menu button:hover {
    background-color: var(--border);
}


.unlike-post-img{
    filter: var(--filter-black-img);
}

.post-item-action-box{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 7px;
}

.like-btn{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 3px;
    background-color: var(--bg);
}


.media-list {
    display: grid;
    gap: 8px;
    max-width: 540px;
    margin-top: 10px;
}

.media-list.one {
    grid-template-columns: 1fr;
}

.media-list.two {
    grid-template-columns: 1fr 1fr;
}


.media-item {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.media-item video{
    aspect-ratio: 5 / 7;
}

.media-item img {
    aspect-ratio: 4 / 3;
}


.media-list.one .media-item video{
    aspect-ratio: 1 / 1;
}

.media-list.one .media-item img{
    aspect-ratio: 16 / 9;
}



.media-item img,
.media-item video {
    width: 100%;
    height: 100%;
    display: block;
}

.media-item img {
    object-fit: cover;
}

.media-item video {
    object-fit: cover;
}