.post-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 650px;
    width: 100%;
    min-height: calc(100vh - 70px);
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 16px;
}


.unregistered-box {
    width: 300px;
    flex-shrink: 0;
    padding: 16px 20px;
    border: 1px solid var(--border);
    border-radius: 16px;
    text-align: start;
}