.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.search-input{
    padding-left: 34px;
    max-width: 550px;
}

.search-user-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 16px 30px;
}

.search-icon{
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    filter: var(--filter-black-img);
}

.text-search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grey-icon{
    width: 13px;
    height: 13px;
    filter: var(--filter-black-img);
}