.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 550px;
}

.search-input {
    width: 100%;
    padding-left: 34px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    filter: var(--filter-black-img);
}

.search-user-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 16px 30px;
}

.text-search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grey-icon{
    width: 13px;
    height: 13px;
    filter: var(--filter-black-img);
}


@media screen and (max-width: 769.9px){
    .search-input{
        width: 93%;
        padding-left: 36px;
    }

    .search-icon{
        left: 25px;
    }

}
