* {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  box-sizing: border-box;
}

:root {
  --text-grey: rgb(113, 118, 123);;
  --text-h: #0D0D0D;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --button-bg: #0D0D0D;
  --button-text: #ffffff;
  --primery-button-bg-active: #494949;
  --outline-button-bg-active: #F2F2F2;
  --filter-black-img: invert(50%);
  --button-bg-active-underline: rgb(0,0,0);

  --button-outline-hover: #F2F0EF;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text-h);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

[data-theme="dark"] {
  --text-grey: rgb(113, 118, 123);
  --text-h: #f3f4f6;
  --bg: rgb(0, 0, 0);
  --border: #2e303a;
  --code-bg: #252525;
  --button-bg: #f3f4f6;
  --filter-black-img: invert(60%);
  --button-text: #000;
  --primery-button-bg-active: #C4C4C4;
  --outline-button-bg-active: #525252;
  --button-bg-active-underline: #fff;


  --button-outline-hover: #1a1a1a;
  --shadow:
          rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  color-scheme: dark;
}

[data-theme="dark"] #social .button-icon {
  filter: invert(1) brightness(2);
}


#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: var(--bg);
}

body {
  margin: 0;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h4, h3, p {
  margin: 0;
}

input,
textarea {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--text-h);
  font-size: 14px;
  outline: none;
  background-color: var(--bg);
}

.text-grey{
  color: var(--text-grey);
}

.text-s{
  font-size: 15px;
}

.button-sm {
  padding: 5px 10px;
}

.button-md {
  padding: 8px 14px;
}

.button-lg {
  padding: 10px 16px;
  width: 100%;
}


.button {
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease-in-out;
}

.button-primary {
  background: var(--button-bg);
  color: var(--button-text);
}

.button-outline {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--text-h);
}

.button-outline:focus,
.button-outline:hover{
  background-color: var(--outline-button-bg-active);
}

.button-primary:focus,
.button-primary:hover{
  background-color: var(--primery-button-bg-active);
}

.content-box {
  min-height: 100vh;
  width: 100%;
}

.page-box{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding: 30px 40px 0 40px;
  width: 100%;
  min-height: calc(100vh - 40px);
  height: 100%;
}

.no-posts{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.post-text {
  white-space: pre-wrap;
}